datamart-geo==0.3.1
datamart-profiler==0.11
datasets-summarizer==0.1.0
geopandas==0.12.2
grandalf==0.8
kshingle==0.10.0
matplotlib==3.7.1
matplotlib-inline==0.1.6
numpy==1.24.3
pandas==2.0.0
prince==0.10.4
pyspark==3.3.2
python-dateutil==2.8.2
rectangle-packer==2.0.1
regex==2023.3.23
requests==2.28.2
scikit-learn==1.2.2
scipy==1.10.1
shapely==2.0.1
